@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body {
  font-family: "Roboto Mono", monospace;
}

/* variables */
:root {
  --black: #222429;
  --grey: #a2a6aa;
}

.container {
  width: 96%;
  margin: auto;
  max-width: 1500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.head {
  display: flex;
  flex-direction: column;
}
.head h1 {
  color: var(--black);
  font-size: 3rem;
}
.taskList {
  color: var(--grey);
  font-size: 1.5rem;
}

/* buttons */
.btn {
  background-color: white;
  color: var(--black);
  border: none;
  border-radius: 0.7rem;
  font-size: 1.3rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}

.add-task-btn {
  background-color: #1fc14b;
  color: white;
}

.clear-btn {
  background-color: #cc1f1a;
  color: white;
}

.back-btn {
  background-color: inherit;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: white;
}

.back-btn:hover {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
}

/*pop up */
.popup-header {
  padding: 1rem;
}
.hide-popup {
  transform: translateX(-500%);
  transition: all 0.6s ease-in-out;
  opacity: 0;
}

.show-popup {
  transition: all 0.6s ease-in;
  opacity: 1;
}

.forms-popup {
  position: absolute;
  background-color: var(--black);
  color: white;
  top: 10%;
  left: 0%;
  border-radius: 2rem;
}

.popup-header h1 {
  font-size: 2rem;
  width: 170px;
}

/* form */
.form-control {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.form-control input {
  width: 15rem;
}

input {
  margin: 0.7rem;
  color: white;
  background-color: inherit;
  outline: none;
  border: none;
  font-size: 1.5rem;
}

.todo-input {
  border-bottom: 1px solid grey;
}

.todo-input:focus::placeholder {
  font-size: 0.9rem;
}

/* input[type="time"],input[type="date"]{
  font-size: 1.3rem;
} */

/* .datetime{
  padding: 0.2rem;
  border: 1px solid white;
  font-size: 1.3rem;
  border-radius: 0.4rem;
}
.date{
  background-color: #FEF5E6;
  color: #F5A921;
}

.time{
  background-color: #FEF0ED;
  color: #F55C33;
} */
#description {
  font-size: 1.2rem;
}
.task {
  color: black;
  font-size: 1.4rem;
  border-bottom: 1px solid black;
}

.todo-list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #e0d4d4;
  border-radius: 1rem;
  width: 500px;
  /* height: max-content; */
}

.item p {
  color: black;
}
.delete-btn {
  background-color: inherit;
  color: red;
}
.empty {
  color: var(--grey);
  padding: 1rem;
  font-size: 2rem;
}
.delete-confirm {
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgba(189, 209, 226, 0.8);
  border: 1px solid blue;
}
.button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.yes-btn {
  background-color: green;
  color: white;
}
.no-btn {
  background-color: red;
  color: white;
}
.confirmation-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
.confirmation-container section {
  background-color: var(--black);
  position: absolute;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
}
.confirmation-container section article {
  display: flex;
  justify-content: space-between;
}
